# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Docker volumes (if you export them)
db_data/
wp_data/

# OS / editor
.DS_Store
.idea
.vscode

# Node.js
node_modules/
.cache/